include README.md
include LICENSE
include requirements.txt
include pyproject.toml

recursive-include templates *.md
recursive-include templates *.json
recursive-include templates *.yaml

recursive-exclude __pycache__ *
recursive-exclude *.pyc *
recursive-exclude *.pyo *